[req]
default_bits = 4096
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C=US
ST=Arizona
L=Scottsdale
O=Trusona, Inc.
OU=Engineering
emailAddress=engineering@trusona.com
CN=trusona.com
